_source/2016-03-22-titanic_kaggle_competition_with_r_part_2_cache/
_source/2016-03-22-titanic_kaggle_competition_with_r_part_2_cache/html/
_source/2016-03-22-titanic_kaggle_competition_with_r_part_3_cache/
_source/2016-03-22-titanic_kaggle_competition_with_r_part_3_cache/html/